<html>

<head>
  <link rel="stylesheet" href="/describe/resources/bootstrap.min.css" crossorigin="anonymous">
  <script src="/describe/resources/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="/describe/resources/popper.min.js" crossorigin="anonymous"></script>
  <script src="/describe/resources/bootstrap.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/describe/resources/socket.io.js"></script>
  <script src="/describe/scripts/socket.js"></script>
  <style>
    #back2Top {
      width: 40px;
      line-height: 40px;
      overflow: hidden;
      z-index: 999;
      display: none;
      cursor: pointer;
      -moz-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      position: fixed;
      bottom: 50px;
      right: 0;
      background-color: #DDD;
      color: #555;
      text-align: center;
      font-size: 30px;
      text-decoration: none;
    }

    #back2Top:hover {
      background-color: #DDF;
      color: #000;
    }
  </style>
  <script>
    $(function () {

      /*Scroll to top when arrow up clicked BEGIN*/
      $(window).scroll(function () {
        var height = $(window).scrollTop();
        if (height > 100) {
          $('#back2Top').show();
        } else {
          $('#back2Top').hide();
        }
      });
      $(document).ready(function () {
        $("#back2Top").click(function (event) {
          event.preventDefault();
          $("html, body").animate({ scrollTop: 0 }, "slow");
          return false;
        });

      });

    })

   /*Scroll to top when arrow up clicked END*/
  </script>
</head>

<body>
  <div class="container-fluid">
    <ul class="nav nav-tabs " id="myTab" role="tablist" style="z-index: 1000;background-color:white;position: fixed;top:0;width: 100%">
      <li>
        <h5>
          <%=app.name%> version:
            <%=app.version%>
        </h5>
      </li>
      <li style="width: 100px">&nbsp;&nbsp;
      </li>

      <li class="nav-item">
        <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab" aria-controls="configuration">Configuration</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link active" id="localservices-tab" data-toggle="tab" href="#localservices" role="tab" aria-controls="localservices">Local Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="gatewayservices-tab" data-toggle="tab" href="#gatewayservices" role="tab" aria-controls="gatewayservices">Remote Services</a>
      </li>




    </ul>



    <div class="tab-content" id="myTabContent" style="margin-top: 50px;">
      <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
        <%-include('tabs/configuration', {config: config}); %>
      </div>
      
      <div class="tab-pane fade  show active" id="localservices" role="tabpanel" aria-labelledby="services-tab">
        <%-include('tabs/class', {routes: routes}); %>
      </div>
      <div class="tab-pane fade  show" id="gatewayservices" role="tabpanel" aria-labelledby="services-tab">
        <%-include('tabs/class', {routes: remoteRoutes}); %>
      </div>
    </div>
  </div>
  </div>
  <a id="back2Top" title="Back to top" href="#">&#10148;</a>
</body>

</html>